header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

header img {
    height: auto;
    width: 200px;
}

form input[type="text"] {
    width: 60%;
    display: inline-block;
}

form button {
    display: inline-block;
}

/* Estilo dos cards e seção de filtros */
.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


/* Estilo da seção de filtros */
.filtro-secao {
    background-color: #c5c90979;
    padding: 20px;
    border-radius: 10px;
}

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(235, 235, 180, 0.925);
}

h2 {
    font-weight: bold;
    color: #333;
}

.pesquisar-button {
    background-color: #5a5aff;
    border: none;
}

.pesquisar-button:hover {
    background-color: #4141ff;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: flex-start; 
    }

    header img {
        width: 150px; 
    }

    form input[type="text"] {
        width: 100%; 
        margin-bottom: 10px; 
    }

    form button {
        width: 100%; 
    }

    .card {
        flex: 1 1 100%; 
    }
}

/* Responsividade */
@media (max-width: 576px) {
    header {
        padding: 10px; 
    }

    header img {
        width: 120px; 
    }
}
